In [ ]:
import math
math.sqrt(25)
math.pi
import math as mt
mt.sqrt(25)

In [2]:
from numpy import random
import numpy as np
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

In [3]:
dataOne

array([[0.00141262, 0.27261791, 0.90421239, 0.80187058, 0.64733842],
       [0.21908697, 0.86161127, 0.39927125, 0.07067091, 0.42910502],
       [0.25049678, 0.44093527, 0.75855604, 0.55823858, 0.00811789],
       [0.94379123, 0.51440452, 0.81025516, 0.33059281, 0.19258119],
       [0.04128154, 0.9806181 , 0.34615969, 0.29129273, 0.79514594]])

In [4]:
np.mean(dataOne)

0.47478659299515313

In [5]:
print('I Love data Science')

I Love data Science

In [17]:
varOne = 25
varTwo = 25.0
varThree = varOne + varTwo
print (varThree)

50.0

In [19]:
varOne = 25
varTwo = 'Hello'
varThree = varOne + varTwo
print(varThree)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
listOne = [1,2,3,4]
print(listOne[1:3])

[2, 3]

In [10]:
tel  =  { 'jack' :  4098 ,  'sape' :  4139 }
tel ['jack']

4098

In [11]:
precio  =  { 'home1' :  100000 ,  'home2' :  90000, 'home3' :  80000 , 'home4' :  80000 , 'home5' :  70000 }
precio ['home2']

90000

In [14]:
var1= precio ['home1']
var1

100000

In [20]:
var2= precio ['home2']
var3= precio ['home3']
var4= var2+var3
print(var4)

170000

In [21]:
var5= var1-var2
print (var5)

10000

In [22]:
var6= var4+var2
print (var6)

260000

In [24]:
>>> the_world_is_flat = True
>>> if the_world_is_flat:
...     print("Be careful not to fall off!")

Be careful not to fall off!

In [25]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."

In [26]:
>>> 2 + 2
4
>>> 50 - 5*6
20
>>> (50 - 5*6) / 4
5.0
>>> 8 / 5  # division always returns a floating point number
1.6

1.6

In [28]:
>>> 17 / 3  # classic division returns a float

5.666666666666667

In [29]:
>>> 17 // 3  # floor division discards the fractional part

5

In [30]:
>>> 17 % 3  # the % operator returns the remainder of the division

2

In [31]:
>>> 5 * 3 + 2  # result * divisor + remainder

17

In [35]:
>>> 5 ** 2  # 5 squared

25

In [36]:
>>> 2 ** 7  # 2 to the power of 7

128

In [37]:
>>> width = 20
>>> height = 5 * 9
>>> width * height

900

In [38]:
>>> n  # try to access an undefined variable
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'n' is not defined

SyntaxError: invalid syntax (<ipython-input-38-00fbdb52cfd8>, line 2)

In [39]:
>>> 4 * 3.75 - 1

14.0

In [40]:
>>> tax = 12.5 / 100
>>> price = 100.50
>>> price * tax

12.5625

In [41]:
>>> price + _

113.0625

In [42]:
>>> round(_, 2)

113.06

In [43]:
>>> 'spam eggs'  # single quotes

'spam eggs'

In [44]:
>>> 'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [45]:
>>> "doesn't"  # ...or use double quotes instead

"doesn't"

In [46]:
>>> '"Yes," they said.'

'"Yes," they said.'

In [47]:
>>> "\"Yes,\" they said."

'"Yes," they said.'

In [48]:
>>> '"Isn\'t," they said.'

'"Isn\'t," they said.'

In [49]:
>>> '"Isn\'t," they said.'

'"Isn\'t," they said.'

In [50]:
>>> print('"Isn\'t," they said.')

"Isn't," they said.

In [51]:
>>> s = 'First line.\nSecond line.'  # \n means newline
>>> s  # without print(), \n is included in the output

'First line.\nSecond line.'

In [52]:
>>> print(s)  # with print(), \n produces a new line

First line.
Second line.

In [53]:
>>> print('C:\some\name')  # here \n means newline!

C:\some
ame

In [54]:
>>> print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [55]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [56]:
>>> # 3 times 'un', followed by 'ium'
>>> 3 * 'un' + 'ium'

'unununium'

In [57]:
>>> 'Py' 'thon'

'Python'

In [58]:
>>> text = ('Put several strings within parentheses '
...         'to have them joined together.')
>>> text

'Put several strings within parentheses to have them joined together.'

In [59]:
>>> prefix = 'Py'
>>> prefix 'thon'  # can't concatenate a variable and a string literal
  File "<stdin>", line 1
    prefix 'thon'
                ^

SyntaxError: invalid syntax (<ipython-input-59-2ae4f8a8818e>, line 2)

In [64]:
>>> prefix = 'Py'
>>> prefix 'thon'  # can't concatenate a variable and a string literal
  File "<stdin>", line 1
    prefix 'thon'
                ^

SyntaxError: invalid syntax (<ipython-input-64-2ae4f8a8818e>, line 2)

In [65]:
>>> prefix + 'thon'

NameError: name 'prefix' is not defined

In [66]:
>>> word = 'Python'
>>> word[0]  # character in position 0

'P'

In [67]:
>>> word[5]  # character in position 5

'n'

In [68]:
>>> word[-1]  # last character

'n'

In [69]:
>>> word[-2]  # second-last character

'o'

In [70]:
>>> word[-6]

'P'

In [71]:
>>> word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [72]:
>>> word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [73]:
>>> word[:2] + word[2:]

'Python'

In [74]:
>>> word[:4] + word[4:]

'Python'

In [75]:
>>> word[:2]

'Py'

In [76]:
>>> word[42]  # the word only has 6 characters
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>

SyntaxError: invalid syntax (<ipython-input-76-0a0e2ade0f24>, line 2)

In [77]:
>>> word[4:42]

'on'

In [78]:
>>> word[42:]

''

In [79]:
>>> word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [80]:
>>> word[2:] = 'py'

TypeError: 'str' object does not support item assignment

In [81]:
>>> word[2:] = 'py'

TypeError: 'str' object does not support item assignment

In [82]:
>>> word[:2] + 'py'

'Pypy'

In [83]:
>>> s = 'supercalifragilisticexpialidocious'
>>> len(s)

34

In [84]:
>>> squares = [1, 4, 9, 16, 25]
>>> squares

[1, 4, 9, 16, 25]

In [85]:
>>> squares[0]  # indexing returns the item

1

In [86]:
>>> squares[-1]

25

In [87]:
>>> squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [88]:
>>> squares[:]

[1, 4, 9, 16, 25]

In [89]:
>>> squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [91]:
>>> cubes = [1, 8, 27, 65, 125]  # something's wrong here
>>> 4 ** 3  # the cube of 4 is 64, not 65!

64

In [92]:
>>> cubes[3] = 64  # replace the wrong value
>>> cubes

[1, 8, 27, 64, 125]

In [93]:
>>> cubes.append(216)  # add the cube of 6
>>> cubes.append(7 ** 3)  # and the cube of 7
>>> cubes

[1, 8, 27, 64, 125, 216, 343]

In [94]:
>>> letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
>>> letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [95]:
>>> # replace some values
>>> letters[2:5] = ['C', 'D', 'E']
>>> letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [96]:
>>> # now remove them
>>> letters[2:5] = []
>>> letters

['a', 'b', 'f', 'g']

In [97]:
>>> letters[:] = []
>>> letters
[]

[]

In [98]:
>>> letters = ['a', 'b', 'c', 'd']
>>> len(letters)
4

4

In [99]:
>>> a = ['a', 'b', 'c']
>>> n = [1, 2, 3]
>>> x = [a, n]
>>> x

[['a', 'b', 'c'], [1, 2, 3]]

In [100]:
>>> x[0]

['a', 'b', 'c']

In [101]:
>>> x[0][1]

'b'

In [102]:
>>> # Fibonacci series:
... # the sum of two elements defines the next
... a, b = 0, 1
>>> while a < 10:
...     print(a)
...     a, b = b, a+b
...

0
1
1
2
3
5
8

In [103]:
>>> i = 256*256
>>> print('The value of i is', i)

The value of i is 65536

In [104]:
>>> a, b = 0, 1
>>> while a < 1000:
...     print(a, end=',')
...     a, b = b, a+b
...

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [1]:
>>> x = int(input("Please enter an integer: "))

Please enter an integer: 42

In [2]:
>>> if x < 0:
...     x = 0
...     print('Negative changed to zero')
... elif x == 0:
...     print('Zero')
... elif x == 1:
...     print('Single')
... else:
...     print('More')
...

More

In [4]:
... words = ['cat', 'window', 'defenestrate']
>>> for w in words:
...     print(w, len(w))
...

cat 3
window 6
defenestrate 12

In [7]:
>>> for i in range(5):
...     print(i)
...

0
1
2
3
4

In [8]:
range(5, 10)

range(5, 10)

In [9]:
range(0, 10, 3)

range(0, 10, 3)

In [10]:
>>> a = ['Mary', 'had', 'a', 'little', 'lamb']
>>> for i in range(len(a)):
...     print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [11]:
>>> print(range(10))

range(0, 10)

In [12]:
>>> sum(range(4))  # 0 + 1 + 2 + 3

6

In [13]:
>>> list(range(4))

[0, 1, 2, 3]

In [14]:
>>> for n in range(2, 10):
...     for x in range(2, n):
...         if n % x == 0:
...             print(n, 'equals', x, '*', n//x)
...             break
...     else:
...         # loop fell through without finding a factor
...         print(n, 'is a prime number')
...

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [15]:
>>> for num in range(2, 10):
...     if num % 2 == 0:
...         print("Found an even number", num)
...         continue
...     print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

In [1]:
import numpy
import matplotlib
import pandas
import scipy
import -U scikit-learn

SyntaxError: invalid syntax (<ipython-input-1-bcdcadca4ebe>, line 5)

In [2]:
>>> def fib(n):    # write Fibonacci series up to n
...     """Print a Fibonacci series up to n."""
...     a, b = 0, 1
...     while a < n:
...         print(a, end=' ')
...         a, b = b, a+b
...     print()

In [3]:
>>> # Now call the function we just defined:
... fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [5]:
>>> fib
>>> f = fib
>>> f(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [6]:
>>> fib(0)
>>> print(fib(0))

None

In [7]:
>>> def fib2(n):  # return Fibonacci series up to n
...     """Return a list containing the Fibonacci series up to n."""
...     result = []
...     a, b = 0, 1
...     while a < n:
...         result.append(a)    # see below
...         a, b = b, a+b
...     return result
...
>>> f100 = fib2(100)    # call it
>>> f100                # write the result

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [8]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [9]:
i = 5

def f(arg=i):
    print(arg)

i = 6
f()

5

In [10]:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [11]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [12]:
parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !
-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [14]:
>>> def function(a):
...     pass
...
>>> function(0, a=0)

TypeError: function() got multiple values for argument 'a'

In [15]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [16]:
cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

In [20]:
>>> standard_arg(2)

2

In [21]:
>>> standard_arg(arg=2)

2

In [33]:
def foo(name, /, **kwds):
>>> foo(1, **{'name': 2})

SyntaxError: invalid syntax (<ipython-input-33-02c9b3ed2fbb>, line 1)

In [34]:
def write_multiple_items(file, separator, *args):
    file.write(separator.join(args))

In [35]:
>>> def concat(*args, sep="/"):
...     return sep.join(args)
...
>>> concat("earth", "mars", "venus")

'earth/mars/venus'

In [36]:
>>> concat("earth", "mars", "venus", sep=".")

'earth.mars.venus'

In [37]:
>>> list(range(3, 6))            # normal call with separate arguments

[3, 4, 5]

In [38]:
>>> args = [3, 6]
>>> list(range(*args))            # call with arguments unpacked from a list

[3, 4, 5]

In [39]:
>>> def parrot(voltage, state='a stiff', action='voom'):
...     print("-- This parrot wouldn't", action, end=' ')
...     print("if you put", voltage, "volts through it.", end=' ')
...     print("E's", state, "!")
...

In [40]:
>>> d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}
>>> parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

In [41]:
>>> def make_incrementor(n):
...     return lambda x: x + n
...
>>> f = make_incrementor(42)
>>> f(0)

42

In [42]:
>>> f(1)

43

In [43]:
>>> pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
>>> pairs.sort(key=lambda pair: pair[1])
>>> pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [44]:
>>> def my_function():
...     """Do nothing, but document it.
...
...     No, really, it doesn't do anything.
...     """
...     pass
...
>>> print(my_function.__doc__)

Do nothing, but document it.

    No, really, it doesn't do anything.

In [45]:
>>> def f(ham: str, eggs: str = 'eggs') -> str:
...     print("Annotations:", f.__annotations__)
...     print("Arguments:", ham, eggs)
...     return ham + ' and ' + eggs
...
>>> f('spam')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: spam eggs

'spam and eggs'

In [1]:
>>> fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
>>> fruits.count('apple')

2

In [2]:
>>> fruits.count('tangerine')

0

In [3]:
>>> fruits.index('banana')

3

In [4]:
>>> fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [5]:
>>> fruits.reverse()
>>> fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [6]:
>>> fruits.append('grape')
>>> fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [7]:
>>> fruits.sort()
>>> fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [8]:
>>> fruits.pop()

'pear'

In [9]:
>>> stack = [3, 4, 5]
>>> stack.append(6)
>>> stack.append(7)
>>> stack

[3, 4, 5, 6, 7]

In [10]:
>>> stack.pop()

7

In [11]:
>>> stack

[3, 4, 5, 6]

In [12]:
>>> stack.pop()

6

In [13]:
>>> stack.pop()

5

In [14]:
>>> stack

[3, 4]

In [15]:
>>> from collections import deque
>>> queue = deque(["Eric", "John", "Michael"])
>>> queue.append("Terry")           # Terry arrives
>>> queue.append("Graham")          # Graham arrives
>>> queue.popleft()                 # The first to arrive now leaves

'Eric'

In [16]:
>>> queue.popleft()                 # The second to arrive now leaves

'John'

In [17]:
>>> queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

In [18]:
>>> squares = []
>>> for x in range(10):
...     squares.append(x**2)
...
>>> squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
squares = list(map(lambda x: x**2, range(10)))

In [20]:
squares = [x**2 for x in range(10)]

In [21]:
>>> [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [22]:
>>> combs = []
>>> for x in [1,2,3]:
...     for y in [3,1,4]:
...         if x != y:
...             combs.append((x, y))
...
>>> combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [23]:
>>> vec = [-4, -2, 0, 2, 4]
>>> # create a new list with the values doubled
>>> [x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [24]:
>>> # filter the list to exclude negative numbers
>>> [x for x in vec if x >= 0]

[0, 2, 4]

In [25]:
>>> # apply a function to all the elements
>>> [abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [26]:
>>> # call a method on each element
>>> freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
>>> [weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [27]:
>>> # create a list of 2-tuples like (number, square)
>>> [(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [28]:
>>> # the tuple must be parenthesized, otherwise an error is raised
>>> [x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-28-702d12ece8a4>, line 2)

In [29]:
>>> # flatten a list using a listcomp with two 'for'
>>> vec = [[1,2,3], [4,5,6], [7,8,9]]
>>> [num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
>>> from math import pi
>>> [str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [31]:
>>> matrix = [
...     [1, 2, 3, 4],
...     [5, 6, 7, 8],
...     [9, 10, 11, 12],
... ]

In [32]:
>>> [[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [33]:
>>> transposed = []
>>> for i in range(4):
...     transposed.append([row[i] for row in matrix])
...
>>> transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [34]:
>>> transposed = []
>>> for i in range(4):
...     # the following 3 lines implement the nested listcomp
...     transposed_row = []
...     for row in matrix:
...         transposed_row.append(row[i])
...     transposed.append(transposed_row)
...
>>> transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [35]:
>>> list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [36]:
>>> a = [-1, 1, 66.25, 333, 333, 1234.5]
>>> del a[0]
>>> a

[1, 66.25, 333, 333, 1234.5]

In [37]:
>>> del a[2:4]
>>> a

[1, 66.25, 1234.5]

In [38]:
>>> del a[:]
>>> a

[]

In [39]:
>>> del a

In [40]:
>>> t = 12345, 54321, 'hello!'
>>> t[0]

12345

In [41]:
>>> t

(12345, 54321, 'hello!')

In [42]:
>>> # Tuples may be nested:
... u = t, (1, 2, 3, 4, 5)
>>> u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [43]:
>>> # Tuples are immutable:
... t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [44]:
... v = ([1, 2, 3], [3, 2, 1])
>>> v

([1, 2, 3], [3, 2, 1])

In [45]:
>>> empty = ()
>>> singleton = 'hello',    # <-- note trailing comma
>>> len(empty)

0

In [46]:
>>> len(singleton)

1

In [47]:
>>> singleton

('hello',)

In [48]:
>>> x, y, z = t

In [49]:
>>> basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
>>> print(basket)                      # show that duplicates have been removed

{'apple', 'pear', 'orange', 'banana'}

In [50]:
>>> 'orange' in basket                 # fast membership testing

True

In [51]:
>>> 'crabgrass' in basket

False

In [52]:
>>> # Demonstrate set operations on unique letters from two words
...
>>> a = set('abracadabra')
>>> b = set('alacazam')
>>> a                                  # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [53]:
>>> a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [54]:
>>> a | b   # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [55]:
>>> a & b                              # letters in both a and b

{'a', 'c'}

In [56]:
>>> a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [57]:
>>> a = {x for x in 'abracadabra' if x not in 'abc'}
>>> a

{'d', 'r'}

In [58]:
>>> tel = {'jack': 4098, 'sape': 4139}
>>> tel['guido'] = 4127
>>> tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [59]:
>>> tel['jack']

4098

In [60]:
>>> del tel['sape']
>>> tel['irv'] = 4127
>>> tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [61]:
>>> list(tel)

['jack', 'guido', 'irv']

In [62]:
>>> sorted(tel)

['guido', 'irv', 'jack']

In [63]:
>>> 'guido' in tel

True

In [64]:
>>> 'jack' not in tel

False

In [65]:
>>> dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [66]:
>>> {x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [67]:
>>> dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [68]:
>>> knights = {'gallahad': 'the pure', 'robin': 'the brave'}
>>> for k, v in knights.items():
...     print(k, v)
...

gallahad the pure
robin the brave

In [69]:
>>> for i, v in enumerate(['tic', 'tac', 'toe']):
...     print(i, v)
...

0 tic
1 tac
2 toe

In [70]:
>>> questions = ['name', 'quest', 'favorite color']
>>> answers = ['lancelot', 'the holy grail', 'blue']
>>> for q, a in zip(questions, answers):
...     print('What is your {0}?  It is {1}.'.format(q, a))
...

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [71]:
>>> for i in reversed(range(1, 10, 2)):
...     print(i)
...

9
7
5
3
1

In [72]:
>>> basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
>>> for f in sorted(set(basket)):
...     print(f)
...

apple
banana
orange
pear

In [73]:
>>> import math
>>> raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
>>> filtered_data = []
>>> for value in raw_data:
...     if not math.isnan(value):
...         filtered_data.append(value)
...
>>> filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [74]:
>>> string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
>>> non_null = string1 or string2 or string3
>>> non_null

'Trondheim'

In [75]:
(1, 2, 3)              < (1, 2, 4)
[1, 2, 3]              < [1, 2, 4]

True

In [76]:
(1, 2, 3, 4)           < (1, 2, 4)
(1, 2)                 < (1, 2, -1)
(1, 2, 3)             == (1.0, 2.0, 3.0)
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True

In [83]:
import csv
 
with open(r'C:\Users\Eric\Documents\Data Analytics\Parte 2\3. Regresión múltiple\newproductattributes2017.csv', newline='') as File:  
    reader = csv.reader(File)
    for row in reader:
        print(row)

['ProductType;Volumen2']
['Laptop-176;6']
['Netbook-183;13']
['Laptop-175;27']
['Netbook-178;74']
['Netbook-181;120']
['PC-172;188']
['Smartphone-195;200']
['ExtendedWarranty-306;236']
['Display-201;240']
['PrinterSupplies-305;243']
['Laptop-173;291']
['Accessories-301;308']
['Accessories-302;312']
['Software-303;336']
['Smartphone-193;394']
['Smartphone-196;403']
['PC-171;414']
['Printer-304;485']
['Smartphone-194;549']
['Tablet-186;1254']
['Netbook-180;1324']
['GameConsole-199;2042']
['GameConsole-307;4822']
['Tablet-187;5859']